*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    border: 1px solid gray;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 1px 10px 30px black;
    color: rgba(255, 228, 196, 0.651);
    width: 80vh;
    padding: 10vh;
}

h1{
    position: relative;
    bottom: 5vh;
}

.style_placeholder{
    border: none;
    background: none;
    outline: none;
    border-bottom:1px solid gray ;
    color:rgba(255, 228, 196, 0.651) ;
    margin: 10px;
    width: 40vh;
    font-size: 15px;
}

.submit{
    background: transparent;
    width: 10vh;   
    border: 1px solid black;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: rgba(255, 228, 196, 0.651) ;
    font-size: 20px;
    transition: 2s;
}

.submit:hover{
    font-size: 15px;
    opacity: 1;
    border: 1px solid gray;
    background: transparent;
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 5vh 5vh;
}